*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
}
#left{
    position: relative;
    width: 40%;
    height: 100%;
}
#lnav{
    display: flex;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
    
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{
    margin-right:  20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
#lnavr i{
    color: royalblue;
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
#textcenter p{
    opacity: .6;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
    opacity: .6;
}
#right{
    width: 60%;
    height: 100%;
    background-color: white;
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
}
#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1680169828922-55a5a1c08af9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2148&q=80);
    background-size: cover;
    background-position: top;
}
#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2139&q=80);
    background-size: cover;
    background-position: center;
} 
#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1559181567-c3190ca9959b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2128&q=80);
  background-size: cover;
  background-position: center;
}
@media(max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}
